#Main {
  width: 650px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text {
  line-height: 1.6;
  color: blue;
  font-family: papyrus;
}

body {
  background-color: magenta;
}
.header {
  color: green;
  font-family: "Comic Sans";
}

#ButtonWrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  height: 60px;
  width: 300px;
  font-size: 30px;
}
