#Main {
  width: 650px;
  font-size: 18px;
  color: #444;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text {
  line-height: 1.6;
}
#ButtonWrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  height: 60px;
  width: 300px;
  font-size: 30px;
}
